body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden; }

h2 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  color: #dfdbdb;
  font-size: 10px; }

a {
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 12px; }
  a:hover {
    cursor: pointer;
    color: white; }

.main {
  --width_cup: 150px;
  --height_cup: 220px;
  --width_machine: 400px;
  --height_machine: 440px;
  --width_window: 350px;
  --height_window: 450px;
  position: relative;
  background: #615F74;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 65vh; }
  .main__left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38%;
    height: 65vh; }
    .main__left__window {
      width: var(--width_window);
      height: var(--height_window);
      overflow: hidden; }
      .main__left__window__bg {
        animation-name: window-background;
        animation-duration: 120s;
        animation-iteration-count: infinite;
        height: 100%;
        width: 200%; }
        .main__left__window__bg img {
          height: 100%; }
    .main__left__glass {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: var(--width_window);
      height: var(--height_window);
      background: rgba(255, 255, 255, 0.3);
      border: 10px solid #282323; }
      .main__left__glass__reflect {
        background: rgba(255, 255, 255, 0.3);
        height: 100%;
        width: 100%;
        clip-path: polygon(56% 0, 81% 0, 0 59%, 0 40%); }
      .main__left__glass__reflect-2 {
        position: absolute;
        background: rgba(255, 255, 255, 0.3);
        height: 100%;
        width: 100%;
        clip-path: polygon(95% 0, 85% 0, 0 62%, 0 69%); }
    .main__left__plant {
      z-index: 10;
      bottom: 0;
      height: 300px;
      position: absolute; }
      .main__left__plant img {
        height: 100%; }
  .main__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38%;
    height: 65vh; }
    .main__right__top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50%; }
      .main__right__top__onShelf {
        display: flex;
        justify-content: center;
        align-items: flex-end; }
        .main__right__top__onShelf__clock {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 150px;
          height: 60px;
          background: white;
          border-radius: 5px; }
          .main__right__top__onShelf__clock__hour {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 90%;
            height: 100%; }
            .main__right__top__onShelf__clock__hour h3 {
              margin: 0;
              font-weight: 200;
              font-family: 'Fjalla One', sans-serif;
              color: white;
              letter-spacing: 6px; }
          .main__right__top__onShelf__clock__screen {
            width: 135px;
            height: 45px;
            background: black;
            border-radius: 3px; }
        .main__right__top__onShelf__plant {
          height: 120px;
          width: 60px; }
          .main__right__top__onShelf__plant img {
            height: 100%; }
      .main__right__top__shelf {
        width: 350px;
        height: 10px;
        background: black; }
    .main__right__bot {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 50%; }
      .main__right__bot__player {
        justify-content: flex-end;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        width: 210px;
        height: 350px; }
        .main__right__bot__player__board {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 150px;
          height: 50px; }
          .main__right__bot__player__board__prev {
            cursor: pointer;
            width: 18px;
            height: 18px; }
            .main__right__bot__player__board__prev img {
              height: 100%;
              width: 100%; }
          .main__right__bot__player__board__pause {
            cursor: pointer;
            position: absolute;
            width: 18px;
            height: 18px; }
            .main__right__bot__player__board__pause img {
              height: 100%;
              width: 100%; }
          .main__right__bot__player__board__play {
            cursor: pointer;
            position: absolute;
            width: 18px;
            height: 18px; }
            .main__right__bot__player__board__play img {
              height: 100%;
              width: 100%; }
          .main__right__bot__player__board__next {
            cursor: pointer;
            width: 18px;
            height: 18px; }
            .main__right__bot__player__board__next img {
              height: 100%;
              width: 100%; }
        .main__right__bot__player__box {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 150px;
          height: 150px;
          background: white;
          border-radius: 10px;
          box-shadow: 1px 1px 10px rgba(133, 133, 133, 0.2); }
          .main__right__bot__player__box__disk {
            animation-name: disk-animation;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-play-state: paused;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 80%;
            background: black;
            border-radius: 90px; }
            .main__right__bot__player__box__disk__light, .main__right__bot__player__box__disk__light-alt {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 5;
              border-radius: 50%;
              animation: reflection 20s infinite ease-in-out; }
            .main__right__bot__player__box__disk__light {
              background-image: linear-gradient(top, transparent, rgba(255, 255, 255, 0.3), transparent); }
            .main__right__bot__player__box__disk__light-alt {
              background-image: linear-gradient(-160deg, transparent 40%, rgba(255, 255, 255, 0.1) 50%, transparent 60%); }
            .main__right__bot__player__box__disk__album {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30%;
              height: 30%;
              background: #8c82b9;
              border-radius: 90px; }
              .main__right__bot__player__box__disk__album img {
                height: 70%; }
            .main__right__bot__player__box__disk__hole {
              position: absolute;
              width: 4px;
              height: 4px;
              background: white;
              border-radius: 90px; }
        .main__right__bot__player__cable {
          width: 5px;
          height: 30%;
          background: white; }
      .main__right__bot__poster {
        padding: 5px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 340px; }
        .main__right__bot__poster__njs {
          top: 40px;
          left: 40px;
          position: absolute;
          width: 100px;
          height: 100px; }
          .main__right__bot__poster__njs img {
            width: 100%;
            height: 100%;
            transition-duration: 0.4s; }
            .main__right__bot__poster__njs img:hover {
              transform: scale(1.03); }
        .main__right__bot__poster__inP {
          position: absolute;
          top: 100px;
          left: 90px;
          width: 100px;
          height: 100px;
          z-index: 10; }
          .main__right__bot__poster__inP img {
            width: 100%;
            height: 100%;
            transition-duration: 0.4s; }
            .main__right__bot__poster__inP img:hover {
              transform: scale(1.03); }
        .main__right__bot__poster__3D {
          position: absolute;
          right: 45px;
          top: 65px;
          width: 100px;
          height: 100px;
          z-index: 3; }
          .main__right__bot__poster__3D img {
            width: 100%;
            height: 100%;
            transition-duration: 0.4s; }
            .main__right__bot__poster__3D img:hover {
              transform: scale(1.03); }
        .main__right__bot__poster__text {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          top: 90px;
          right: 40px;
          width: 100px;
          height: 100px;
          z-index: 12; }
          .main__right__bot__poster__text img {
            width: 100%;
            height: 100%;
            transition-duration: 0.4s; }
            .main__right__bot__poster__text img:hover {
              transform: scale(1.03); }
          .main__right__bot__poster__text p {
            text-align: center;
            max-height: 70%;
            max-width: 70%;
            font-size: 12px;
            overflow: hidden;
            position: absolute;
            margin: 0;
            color: black;
            font-family: 'Source Code Pro', monospace; }
        .main__right__bot__poster__recipe {
          position: absolute;
          right: 75px;
          bottom: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 100px;
          z-index: 11; }
          .main__right__bot__poster__recipe img {
            width: 100%;
            height: 100%;
            transition-duration: 0.4s; }
            .main__right__bot__poster__recipe img:hover {
              transform: scale(1.03); }
  .main__machine {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--width_machine);
    height: var(--height_machine); }
    .main__machine__top {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--width_machine);
      height: calc(var(--height_machine) - 80%);
      background: white;
      border-radius: 10px;
      z-index: 10; }
      .main__machine__top__button-1 {
        position: absolute;
        top: 32%;
        left: 5%;
        height: 28%;
        width: 6%;
        background: #282323;
        border-radius: 90px; }
      .main__machine__top__button-2 {
        position: absolute;
        top: 32%;
        left: 14%;
        height: 28%;
        width: 6%;
        background: #282323;
        border-radius: 90px; }
      .main__machine__top__square-1 {
        position: absolute;
        top: 57%;
        left: 7%;
        height: 9%;
        width: 2%;
        background: #828096; }
      .main__machine__top__square-2 {
        position: absolute;
        top: 57%;
        left: 16%;
        height: 9%;
        width: 2%;
        background: #828096; }
      .main__machine__top__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65%;
        width: 14%;
        background: #282323;
        border-radius: 90px; }
        .main__machine__top__circle__liquid {
          width: 80%;
          height: 80%;
          background: white;
          border-radius: 90px; }
    .main__machine__middle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 90%;
      height: 70%;
      background: #828096; }
      .main__machine__middle__liquid {
        width: 10px;
        top: 40px;
        position: absolute; }
      .main__machine__middle__distrib {
        top: 0;
        position: absolute;
        width: 100px;
        height: 55px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .main__machine__middle__distrib__top {
          width: 100%;
          height: 40%;
          background: #282323;
          z-index: 10; }
        .main__machine__middle__distrib__middle {
          width: 80%;
          height: 30%;
          background: #282323;
          border-radius: 0px 0px 15px 15px;
          z-index: 10; }
        .main__machine__middle__distrib__bot {
          width: 20%;
          height: 20%;
          background: #282323;
          z-index: 10; }
        .main__machine__middle__distrib__topping {
          top: -36px;
          display: flex;
          justify-content: center;
          position: absolute;
          width: 130px;
          height: 20px;
          z-index: 2;
          opacity: 0; }
          .main__machine__middle__distrib__topping__bubble {
            right: 52px;
            bottom: 0px;
            position: absolute;
            height: 19px;
            width: 19px;
            border-radius: 90px;
            animation-name: bubble-move;
            animation-iteration-count: infinite;
            animation-duration: 4s;
            z-index: 7; }
            .main__machine__middle__distrib__topping__bubble__tapioca {
              background-color: #462713; }
            .main__machine__middle__distrib__topping__bubble__jelly {
              background: #fb8fc5;
              border-radius: 5px; }
            .main__machine__middle__distrib__topping__bubble::before {
              position: absolute;
              top: 4px;
              left: 4px;
              height: 4px;
              width: 4px;
              opacity: 0.8;
              content: "";
              background: #FFF;
              border-radius: 50% 50% 50% 50%;
              z-index: 8; }
            .main__machine__middle__distrib__topping__bubble::after {
              position: absolute;
              top: 8px;
              left: 8px;
              height: 2px;
              width: 2px;
              opacity: 0.6;
              content: "";
              background: #FFF;
              border-radius: 50% 50% 50% 50%;
              z-index: 8; }
          .main__machine__middle__distrib__topping__bubble-1 {
            bottom: 4px;
            right: 24px;
            animation: bubble-move 4s infinite ease-out, normal;
            opacity: 0.6; }
          .main__machine__middle__distrib__topping__bubble-2 {
            left: 30px;
            animation: bubble-move 4s infinite ease-out, normal;
            opacity: 0.8; }
          .main__machine__middle__distrib__topping__bubble-3 {
            bottom: 30px;
            right: 18px;
            animation: bubble-move 4s infinite ease-out, normal;
            opacity: 0.8; }
          .main__machine__middle__distrib__topping__bubble-4 {
            bottom: 28px;
            left: 16px;
            animation: bubble-move 4s infinite ease-out, normal; }
          .main__machine__middle__distrib__topping__bubble-5 {
            opacity: 0.8;
            bottom: 30px;
            left: 40px;
            animation: bubble-move 4s infinite ease-out, normal; }
          .main__machine__middle__distrib__topping__bubble-6 {
            bottom: 23px;
            left: 65px;
            animation: bubble-move 4s infinite ease-out, normal; }
          .main__machine__middle__distrib__topping__bubble-7 {
            bottom: 49px;
            left: 65px;
            animation: bubble-move 4s infinite ease-out, normal;
            opacity: 0.5; }
      .main__machine__middle__bg {
        width: 90%;
        height: 80%;
        background: #282738;
        border-radius: 20px 20px 0px 0px; }
    .main__machine__support {
      width: 95%;
      height: 2.5%;
      background: #282323;
      border-radius: 10px; }
    .main__machine__bot {
      width: var(--width_machine);
      height: 8.5%;
      background: white;
      z-index: 10; }
  .main__cup {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: var(--width_cup);
    height: var(--height_cup);
    margin-top: -48px;
    z-index: 3; }
    .main__cup__top {
      width: 110%;
      height: 10px;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 3px;
      z-index: 1; }
    .main__cup__shine {
      position: absolute;
      top: 7%;
      right: 5%;
      width: 20%;
      height: 87%;
      border-radius: 0px 0px 0px 5px;
      clip-path: polygon(0% 0%, 100% 0%, 30% 100%, 0% 100%);
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 30% 100%, 0% 100%);
      opacity: 0.2;
      z-index: 10;
      background: rgba(255, 255, 255, 0.7); }
    .main__cup__body {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.2);
      width: var(--width_cup);
      height: calc(var(--height_cup) - 7%);
      clip-path: polygon(1% 0%, 100% 0%, 85% 100%, 15% 100%);
      -webkit-clip-path: polygon(1% 0%, 100% 0%, 85% 100%, 15% 100%); }
      .main__cup__body__label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--width_cup);
        height: 55px;
        opacity: 1;
        z-index: 1; }
      .main__cup__body__contain {
        position: absolute;
        width: 35px;
        height: 35px;
        z-index: 1; }
        .main__cup__body__contain__logo {
          width: 100%;
          height: 100%; }
      .main__cup__body__liquid {
        bottom: 12px;
        position: absolute;
        width: 90%;
        height: 77%;
        clip-path: polygon(1% 0%, 100% 0%, 85% 100%, 15% 100%);
        -webkit-clip-path: polygon(1% 0%, 100% 0%, 85% 100%, 15% 100%); }
        .main__cup__body__liquid__flavor {
          width: 100%;
          height: 100%;
          transform: translateY(100%); }
    .main__cup__bot {
      width: 60%;
      height: 7px;
      background-color: rgba(255, 255, 255, 0.3); }
    .main__cup__straw {
      bottom: calc(var(--height_cup) - 94%);
      position: absolute;
      transform: rotate(10deg);
      width: 9%;
      height: 112%;
      right: 25%; }

.work {
  background: rgba(0, 0, 0, 0.85);
  z-index: 100;
  transform: translateY(-100%);
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .work__3D {
    position: relative;
    width: 550px;
    height: 550px;
    border-radius: 30px; }
    .work__3D__close {
      cursor: pointer;
      top: 20px;
      right: 20px;
      position: absolute;
      height: 30px;
      width: 30px; }
      .work__3D__close img {
        width: 100%;
        height: 100%; }
    .work__3D__cube-3d * {
      transform-style: preserve-3d; }
    .work__3D__cube-3d {
      --size: 300px;
      position: absolute;
      top: 50%;
      left: 50%;
      perspective: 800px; }
      .work__3D__cube-3d__y-axis {
        animation-name: cube-animation;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        animation-timing-function: linear; }
        .work__3D__cube-3d__y-axis__face {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 50px;
          top: calc(var(--size)/-2);
          left: calc(var(--size)/-2);
          position: absolute;
          width: var(--size);
          height: var(--size);
          color: white;
          opacity: 0.9; }
          .work__3D__cube-3d__y-axis__face-x-pos {
            background-image: url("../images/x-pos.svg");
            background-size: cover;
            transform: rotateY(90deg) translateZ(calc(var(--size)/2)); }
          .work__3D__cube-3d__y-axis__face-x-neg {
            background-image: url("../images/x-neg.svg");
            background-size: cover;
            transform: rotateY(-90deg) translateZ(calc(var(--size)/2)); }
          .work__3D__cube-3d__y-axis__face-y-pos {
            background: rgba(0, 0, 0, 0.2);
            transform: rotateX(90deg) translateZ(calc(var(--size)/2)); }
          .work__3D__cube-3d__y-axis__face-y-neg {
            background: rgba(0, 0, 0, 0.2);
            transform: rotateX(-90deg) translateZ(calc(var(--size)/2)); }
          .work__3D__cube-3d__y-axis__face-z-pos {
            background-image: url("../images/z-pos.svg");
            background-size: cover;
            transform: rotateY(0deg) translateZ(calc(var(--size)/2)); }
          .work__3D__cube-3d__y-axis__face-z-neg {
            background-image: url("../images/z-neg.svg");
            background-size: cover;
            transform: rotateY(180deg) translateZ(calc(var(--size)/2)); }
  .work__myLogo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px; }
    .work__myLogo__logo {
      width: 80%;
      height: 80%; }
    .work__myLogo__grid {
      animation-name: board-title;
      animation-duration: 5s;
      animation-iteration-count: 1;
      position: absolute;
      width: 80%;
      height: 80%; }
    .work__myLogo__close {
      cursor: pointer;
      top: 20px;
      right: 20px;
      position: absolute;
      height: 30px;
      width: 30px; }
      .work__myLogo__close img {
        width: 100%;
        height: 100%; }
  .work__recipe {
    position: relative;
    width: 550px;
    height: 700px; }
    .work__recipe img {
      width: 100%;
      height: 100%; }
    .work__recipe__close {
      cursor: pointer;
      top: 0px;
      right: 0px;
      position: absolute;
      height: 30px;
      width: 30px; }
      .work__recipe__close img {
        width: 100%;
        height: 100%; }

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 35vh;
  background: #282738; }
  .board__title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
    width: 100%;
    height: 50%;
    animation-name: board-title;
    animation-duration: 1s;
    animation-iteration-count: 1; }
    .board__title h1 {
      font-family: 'Fjalla One', sans-serif;
      font-size: 20px;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: white;
      margin: 0; }
  .board__welcome {
    position: absolute;
    animation-name: board-title;
    animation-duration: 1s;
    animation-iteration-count: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 53%; }
    .board__welcome__text {
      font-weight: 100;
      letter-spacing: 1px;
      line-height: 23px;
      display: flex;
      align-items: center;
      width: 600px;
      height: 65%; }
      .board__welcome__text p {
        text-align: center;
        color: white;
        font-family: 'Fjalla One', sans-serif; }
    .board__welcome__button {
      cursor: pointer;
      width: 125px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #95aad4; }
      .board__welcome__button:hover {
        background: #a7b8db; }
      .board__welcome__button h2 {
        color: white;
        font-size: 15px;
        letter-spacing: 4px; }
  .board__size {
    position: absolute;
    animation-name: board-button;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 53%; }
    .board__size__button {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      margin: 0px 25px 0px 25px;
      width: 70px;
      height: 135px; }
      .board__size__button:hover {
        transform: scale(1.03); }
      .board__size__button h2 {
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'Fjalla One', sans-serif;
        color: white;
        font-size: 10px;
        bottom: 0px; }
      .board__size__button__top {
        width: 110%;
        height: 5px;
        background: rgba(255, 255, 255, 0.3); }
      .board__size__button__middle__large {
        width: 100%;
        height: 90px;
        clip-path: polygon(1% 0%, 100% 0%, 85% 100%, 15% 100%);
        -webkit-clip-path: polygon(1% 0%, 100% 0%, 85% 100%, 15% 100%);
        background: rgba(255, 255, 255, 0.2); }
      .board__size__button__middle__medium {
        width: 100%;
        height: 75px;
        clip-path: polygon(1% 0%, 100% 0%, 85% 100%, 15% 100%);
        -webkit-clip-path: polygon(1% 0%, 100% 0%, 85% 100%, 15% 100%);
        background: rgba(255, 255, 255, 0.2); }
      .board__size__button__middle__small {
        width: 100%;
        height: 60px;
        clip-path: polygon(1% 0%, 100% 0%, 85% 100%, 15% 100%);
        -webkit-clip-path: polygon(1% 0%, 100% 0%, 85% 100%, 15% 100%);
        background: rgba(255, 255, 255, 0.2); }
      .board__size__button__bot {
        width: 60%;
        height: 5px;
        background: rgba(255, 255, 255, 0.3); }
  .board__flavor {
    position: absolute;
    animation-name: board-button;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 53%; }
    .board__flavor__button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 18px 0px 18px;
      width: 75px;
      height: 75px;
      background-color: #1f1f1f;
      border-radius: 90px;
      transition: 0.3s; }
      .board__flavor__button h2 {
        font-family: 'Fjalla One', sans-serif;
        text-transform: uppercase;
        font-size: 10px;
        color: white;
        letter-spacing: 1px; }
        .board__flavor__button h2:hover {
          scale: 0.5; }
      .board__flavor__button:hover {
        cursor: pointer;
        transform: scale(1.08); }
      .board__flavor__button:nth-child(1):hover {
        background-color: #a2ce7c; }
      .board__flavor__button:nth-child(2):hover {
        background-color: #90a1da; }
      .board__flavor__button:nth-child(3):hover {
        background-color: #d0c0e4; }
      .board__flavor__button:nth-child(4):hover {
        background-color: #eeeeee; }
      .board__flavor__button:nth-child(5):hover {
        background-color: #ff9d41; }
      .board__flavor__button:nth-child(6):hover {
        background-color: #ffbeb3; }
      .board__flavor__button:nth-child(7):hover {
        background-color: #ff5b5b; }
  .board__topping {
    position: absolute;
    animation-name: board-button;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 53%; }
    .board__topping__button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 18px 0px 18px;
      width: 70px;
      height: 85px;
      background-color: #1f1f1f;
      border-radius: 0 15px 0 15px;
      transition: 0.3s; }
      .board__topping__button h2 {
        font-family: 'Fjalla One', sans-serif;
        text-transform: uppercase;
        font-size: 10px;
        color: white;
        letter-spacing: 1px; }
        .board__topping__button h2:hover {
          scale: 0.5; }
      .board__topping__button:hover {
        cursor: pointer;
        transform: scale(1.08); }
      .board__topping__button:nth-child(1):hover {
        background-color: #462713; }
      .board__topping__button:nth-child(2):hover {
        background-color: #fb8fc5; }
      .board__topping__button:nth-child(3):hover {
        background: linear-gradient(-45deg, #462713 50%, #fb8fc5 50%); }
  .board__straw {
    position: absolute;
    animation-name: board-button;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 53%; }
    .board__straw__button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 18px 0px 18px;
      width: 12px;
      height: 90px;
      border-radius: 2px; }
      .board__straw__button:hover {
        cursor: pointer;
        border: solid 0.5px white; }
      .board__straw__button__berry {
        background: repeating-linear-gradient(20deg, white, white 10px, #90a1da 10px, #90a1da 20px); }
      .board__straw__button__taro {
        background: repeating-linear-gradient(20deg, white, white 10px, #d0c0e4 10px, #d0c0e4 20px); }
      .board__straw__button__mango {
        background: repeating-linear-gradient(20deg, white, white 10px, #ff9d41 10px, #ff9d41 20px); }
      .board__straw__button__lychee {
        background: repeating-linear-gradient(20deg, white, white 10px, rgba(255, 190, 179, 0.8) 10px, rgba(255, 190, 179, 0.8) 20px); }
      .board__straw__button__cherry {
        background: repeating-linear-gradient(20deg, white, white 10px, rgba(255, 91, 91, 0.8) 10px, rgba(255, 91, 91, 0.8) 20px); }
      .board__straw__button__jelly {
        background: repeating-linear-gradient(20deg, white, white 10px, #fb8fc5 10px, #fb8fc5 20px); }
      .board__straw__button__tapioca {
        background: repeating-linear-gradient(20deg, white, white 10px, #462713 10px, #462713 20px); }
      .board__straw__button__berry-taro {
        background: repeating-linear-gradient(20deg, #90a1da, #90a1da 10px, #d0c0e4 10px, #d0c0e4 20px); }
      .board__straw__button__cherry-lychee {
        background: repeating-linear-gradient(20deg, #ffbeb3, #ffbeb3 10px, #ff5b5b 10px, #ff5b5b 20px); }
  .board__label {
    position: absolute;
    animation-name: board-button;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 53%; }
    .board__label__button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 18px 0px 18px;
      width: 70px;
      height: 25px;
      border-radius: 2px; }
      .board__label__button:nth-child(1) {
        background: #90a1da; }
      .board__label__button:nth-child(2) {
        background: #d0c0e4; }
      .board__label__button:nth-child(3) {
        background: #ff9d41; }
      .board__label__button:nth-child(4) {
        background: #ffbeb3; }
      .board__label__button:nth-child(5) {
        background: #ff5b5b; }
      .board__label__button:nth-child(6) {
        background: #282323; }
      .board__label__button:hover {
        cursor: pointer;
        border: solid 0.5px white; }
  .board__done {
    position: absolute;
    animation-name: board-title;
    animation-duration: 1s;
    animation-iteration-count: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 53%; }
    .board__done__text {
      font-weight: 100;
      letter-spacing: 1px;
      line-height: 20px;
      display: flex;
      text-align: center;
      align-items: center;
      width: 42%;
      height: 50%; }
      .board__done__text p {
        color: white;
        font-family: 'Fjalla One', sans-serif; }
    .board__done__social {
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100%;
      height: 20%; }
      .board__done__social a {
        margin: 0px 20px 0px 20px; }
  .board__footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 50%;
    margin-bottom: 25px; }
    .board__footer__exit {
      margin: 0px 6px 0px 6px;
      cursor: pointer;
      width: 30px;
      height: 27px;
      margin-bottom: 5px; }
    .board__footer img {
      width: 100%;
      height: 100%; }
      .board__footer img:hover {
        transition: 0.3s;
        transform: scale(1.1); }
    .board__footer__trash {
      margin: 0px 6px 0px 6px;
      cursor: pointer;
      width: 26px;
      height: 26px;
      margin-bottom: 5px; }
    .board__footer img {
      width: 100%;
      height: 100%; }
      .board__footer img:hover {
        transition: 0.3s;
        transform: scale(1.1); }
    .board__footer__night, .board__footer__day {
      margin: 0px 6px 0px 6px;
      cursor: pointer;
      width: 30px;
      height: 27px;
      margin-bottom: 5px; }
    .board__footer img {
      width: 100%;
      height: 100%; }
      .board__footer img:hover {
        transition: 0.3s;
        transform: scale(1.1); }

.flavor-animation {
  animation-name: flavor;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear; }

.distrib-animation {
  animation-timing-function: linear;
  animation-name: distrib-liquid;
  animation-duration: 6.5s; }

.disk-animation {
  animation-play-state: running; }

.distrib-topping {
  animation-name: bubble-rain;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s; }

.straw-animation {
  animation-name: straw;
  animation-iteration-count: 1;
  animation-duration: 1s; }

.hidden {
  display: none; }

.next-board {
  animation-name: next-board;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.change-distrib {
  animation-name: change-distrib;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes cube-animation {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }
@keyframes window-background {
  0% {
    transform: translateX(0%); }
  50% {
    transform: translateX(-73%); }
  100% {
    transform: translateX(0%); } }
@keyframes disk-animation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes flavor {
  0% {
    transform: translateY(100%);
    animation-timing-function: cubic-bezier(0.5, 1, 0.5, 1); }
  100% {
    transform: translateY(0%); } }
@keyframes distrib-liquid {
  0% {
    height: 0px;
    animation-timing-function: cubic-bezier(0.3, 1, 0.3, 1); }
  20% {
    height: 82%;
    animation-timing-function: cubic-bezier(0.5, 1, 0.5, 1); }
  20% {
    bottom: 12px;
    height: 82%;
    animation-timing-function: cubic-bezier(1, 1, 1, 1); }
  50% {
    animation-timing-function: cubic-bezier(0.2, 1, 0.2, 1);
    top: 40px; }
  80% {
    bottom: calc(--var(height_cup) - 10%);
    opacity: 0.3; }
  95% {
    height: 35%;
    opacity: 0; }
  100% {
    animation-timing-function: cubic-bezier(0.1, 1, 0.1, 1);
    opacity: 0;
    top: 60%;
    height: 0px; } }
@keyframes board-button {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }
@keyframes next-board {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(100%); } }
@keyframes bubble-move {
  50% {
    transform: translate(0, -5px) rotate(20deg); }
  100% {
    transform: translateY(0, 0px) rotate(0deg); } }
@keyframes bubble-rain {
  0% {
    transform: translateY(0px);
    opacity: 1; }
  70% {
    transform: translateY(303px);
    opacity: 1; }
  100% {
    transform: translateY(302px);
    opacity: 1; } }
@keyframes straw {
  0% {
    transform: translate(0, -4px) rotate(0deg); }
  100% {
    transform: translateY(0, 0px) rotate(0deg); } }
@keyframes board-title {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes change-distrib {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(-100%);
    width: 100px; }
  60% {
    transform: translateY(-100%);
    width: 200px; }
  100% {
    transform: translateY(0%);
    width: 200px; } }
@media (max-width: 1100px) {
  .main__left {
    display: none; }
  .main__right {
    display: none; } }
@media (max-width: 812px) {
  a {
    font-size: 10px; }

  .main {
    --width_cup: 120px;
    --height_cup: 160px;
    --width_machine: 300px;
    --height_machine: 330px; }
    .main__left {
      display: none; }
    .main__right {
      display: none; }
    .main__cup {
      margin-top: -36px; }
      .main__cup__top {
        height: 8px; }
      .main__cup__body__label {
        height: 35px; }
      .main__cup__body__contain {
        width: 25px;
        height: 25px; }
      .main__cup__body__liquid {
        bottom: 9px; }
    .main__machine__middle__distrib {
      width: 60px;
      height: 35px; }
      .main__machine__middle__distrib__top {
        height: 12px; }
      .main__machine__middle__distrib__middle {
        height: 10px; }
      .main__machine__middle__distrib__bot {
        width: 12px; }
      .main__machine__middle__distrib__topping {
        top: -8px;
        width: 80px;
        height: 45px; }
        .main__machine__middle__distrib__topping__bubble {
          height: 16px;
          width: 16px; }
        .main__machine__middle__distrib__topping__bubble-6 {
          left: 65px; }
        .main__machine__middle__distrib__topping__bubble-4 {
          left: 8px; }
        .main__machine__middle__distrib__topping__bubble-3 {
          right: 29px; }
    .main__machine__middle__liquid {
      width: 7px;
      top: 25px; }

  .board {
    display: flex; }

  .board__welcome__text {
    width: 90%; }
    .board__welcome__text p {
      font-size: 12px;
      line-height: 15px; }
  .board__welcome__button {
    margin-top: 4px;
    width: 100px;
    height: 35px; }

  .board__size__button {
    height: 80px;
    width: 40px; }
    .board__size__button h2 {
      font-size: 8px; }
    .board__size__button__top {
      height: 2px; }
    .board__size__button__bot {
      height: 2px; }
    .board__size__button__middle__large {
      height: 50px; }
    .board__size__button__middle__medium {
      height: 45px; }
    .board__size__button__middle__small {
      height: 40px; }

  .board__title {
    margin-top: 25px;
    height: 28%; }
    .board__title h1 {
      font-size: 12px; }

  .board__label__button {
    width: 35px;
    height: 35px;
    margin: 0px 10px 0px 10px; }

  .board__flavor__button {
    width: 35px;
    height: 35px;
    margin: 0px 5px 0px 5px; }
    .board__flavor__button h2 {
      font-size: 6px; }

  .board__topping__button {
    margin: 0px 15px 0px 15px;
    width: 50px;
    height: 65px; }
    .board__topping__button h2 {
      font-size: 8px; }

  .board__straw__button {
    margin: 0px 11px 0px 11px;
    width: 8px;
    height: 65px; }

  .board__footer {
    margin-bottom: 15px; }
    .board__footer__trash {
      width: 20px;
      height: 20px; }
    .board__footer__night {
      width: 20px;
      height: 20px; }

  .board__done__text {
    width: 90%;
    height: 70%; }
    .board__done__text p {
      font-size: 10px;
      line-height: 14px; }
  .board__done__social a {
    margin: 0px 5px 0px 5px; }

  img.js-day {
    width: 20px;
    height: 20px; }

  .distrib-topping {
    animation-name: bubble-rain-resp; }

  .distrib-animation {
    animation-name: distrib-liquid-resp; }

  .change-distrib {
    animation-name: change-distrib-resp;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; } }
@keyframes bubble-rain-resp {
  0% {
    transform: translateY(0px);
    opacity: 1; }
  70% {
    transform: translateY(178px);
    opacity: 1; }
  100% {
    transform: translateY(177px);
    opacity: 1; } }
@keyframes distrib-liquid-resp {
  0% {
    height: 0px;
    animation-timing-function: cubic-bezier(0.3, 1, 0.3, 1); }
  20% {
    height: 80%;
    animation-timing-function: cubic-bezier(0.5, 1, 0.5, 1); }
  20% {
    bottom: 0px;
    height: 80%;
    animation-timing-function: cubic-bezier(1, 1, 1, 1); }
  50% {
    animation-timing-function: cubic-bezier(0.2, 1, 0.2, 1);
    top: 25px; }
  80% {
    bottom: calc(--var(height_cup) - 10%);
    opacity: 0.5; }
  95% {
    height: 25%;
    opacity: 0; }
  100% {
    animation-timing-function: cubic-bezier(0.1, 1, 0.1, 1);
    opacity: 0;
    top: 50%;
    height: 0px; } }
@keyframes change-distrib-resp {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(-100%);
    width: 80px; }
  60% {
    transform: translateY(-100%);
    width: 150px; }
  100% {
    transform: translateY(0%);
    width: 150px; } }

/*# sourceMappingURL=main.css.map */
