body {
    margin: 0;
    background-image: url("../images/windowDayBg.svg");
    background-size: cover;
}

.cube-3d {
    --size: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    perspective: 800px;
}

.cube-3d * {
    transform-style: preserve-3d;
}

.y-axis {
    animation-name: shop-animation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.cube-3d .face {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    top: calc(var(--size)/-2);
    left: calc(var(--size)/-2);
    position: absolute;
    width: var(--size);
    height: var(--size);
    color: white;
    opacity: 1;
}

.cube-3d .face-x-pos {
    background-image: url("../images/x-pos.svg");
    background-size: cover;
    transform: rotateY(90deg) translateZ(calc(var(--size)/2));
}

.cube-3d .face-x-neg {
    background-image: url("../images/x-neg.svg");
    background-size: cover;
    transform: rotateY(-90deg) translateZ(calc(var(--size)/2));
}

.cube-3d .face-y-pos {
    background: rgba(0, 0, 0, 0.2);
    transform: rotateX(90deg) translateZ(calc(var(--size)/2));
}

.cube-3d .face-y-neg {
    background: rgba(0, 0, 0, 0.2);
    transform: rotateX(-90deg) translateZ(calc(var(--size)/2));
}

.cube-3d .face-z-pos {
    background-image: url("../images/z-pos.svg");
    background-size: cover;
    transform: rotateY(0deg) translateZ(calc(var(--size)/2));
}

.cube-3d .face-z-neg {
    background-image: url("../images/z-neg.svg");
    background-size: cover;
    transform: rotateY(180deg) translateZ(calc(var(--size)/2));
}


@keyframes shop-animation {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}